# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript / Babel
*.tsbuildinfo

# IDE
.idea/
.vscode/

# Test
coverage/

# Misc
*.log
