django==5.0
gunicorn==21.2.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
setuptools>=70,<82
drf-yasg==1.21.15
Pillow==10.3.0
django-cors-headers==4.3.1
django-filter==23.5
Pyrebase4==4.7.1
djangorestframework==3.15.2
